@model IEnumerable<Library.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Rented Books", "Index", "RentedBooks", new {}, null)
</p>

<form>
    <input type="text" name="search" class = "form-control col-md-2"/>
    <input type="submit" value="Search" class="btn btn-default col-md-1"/>
</form>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @if (item.Available == true)
            {
                @Html.ActionLink("Rent", "RentConfirmation", "RentedBooks", new { id = item.BookId }, null)
            }
            else
            {
                @Html.ActionLink("Order", "Details")
            }

            | @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
</td>
    </tr>
}

</table>
